body, .header, .main {
	max-width: 1440px;
	margin: auto;
	margin-right: auto;
}

body {
	
}

.header {
	padding: 92px 50px;
	font-size: 18px;
}

.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 5px; 
	padding-bottom: 7px;
}

.header__links-list {
	display: flex;
	height: 23px;
	gap: 33px;
}

.header__links-list-item_no-bullit {
	list-style: none;
}

.header__links-list-item {
	border-bottom: 1px solid;
	list-style: circle;
}

.header__logo-image {
	position: absolute;
	left: 880px;
	top: 92px;
	width: 148px;
	height: 105px;
}

.header__address {
	height: 97px;
	font-style: normal;
	line-height: 24.3px;
}

.header__link {
	text-decoration: none;
	border-bottom: 1px solid;
	font-style: normal;
}

.address {
	font-style: normal;
}


.cover {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 757px;
	background-image: url("../images/cover.jpg");
}

.overlay {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, .6);
}

.ono, .tebe, .nado {
	position: relative;
	top: 165px;
	color: white;
	text-transform: uppercase;
	font-size: 100px;
	letter-spacing: 30px;
	z-index: 1;
}

.o, .e, .n {
	position: absolute;
}

.ono {
	align-self: start;
}

.tebe {
	align-self: center;
}

.nado {
	align-self: end;
}

.o {

}