body, .header, .main {
	max-width: 1440px;
	margin: auto;
	margin-right: auto;
}

body {
	
}

.header {
	padding: 92px 50px;
	font-size: 18px;
}

.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 5px; 
	padding-bottom: 7px;
}

.header__links-list {
	display: flex;
	height: 23px;
	gap: 33px;
}

.header__links-list-item_no-bullit {
	list-style: none;
}

.header__links-list-item {
	border-bottom: 1px solid;
	list-style: circle;
}

.header__logo-image {
	position: absolute;
	left: 880px;
	top: 92px;
	width: 148px;
	height: 105px;
}

.header__address {
	height: 97px;
	font-style: normal;
	line-height: 24.3px;
}

.header__link {
	text-decoration: none;
	border-bottom: 1px solid;
	font-style: normal;
}

.address {
	font-style: normal;
}


.cover {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 757px;
	background-image: url("../images/cover.jpg");
}

.overlay {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, .6);
}

.ono, .tebe, .nado {
	position: relative;
	top: 165px;
	color: white;
	text-transform: uppercase;
	font-size: 100px;
	letter-spacing: 30px;
	z-index: 1;
}

.ls-60 {
	letter-spacing: 60px;
}

.ono {
	align-self: start;
	left: 50px;
}

.tebe {
	align-self: center;
	top: 174px;
	right: 15px
}

.nado {
	align-self: end;
	top: 178px;
	right: 20px;
}

.cover__description {
	display: flex;
	align-self: end;
	bottom: 57px;
	right: 163px;
}

.cover__description-text, .bet-button {
	position: absolute;
	text-transform: uppercase;
	color: white;
	font-weight: normal;
	font-size: 22px;
	word-spacing: 17px;
	z-index: 1;
	bottom: 63px;
	right: 386px;
}

.cover__description-text-bigger-ws {
	word-spacing: 20px;
}

.bet-button {
	position: absolute;
	padding: 12px 30px;
	max-width: 257px;
	max-height: 52px;
	background-color: transparent;
	word-spacing: 1px;
	bottom: 50px;
	right: 50px;
	border: 1px solid white;
}